:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title{
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 18pt;
}
.form{
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.evidence{
  width: 45%;
}
.actions{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 2em;
  align-items: center;
  height: 8vh;
}
.buttons{
  display: flex;
  gap: 1em;
}
