<header class="header">
  <div class="name">
    <div class="logo">
      <img src="../../../../assets/logo1.png" alt="">
    </div>
    <div class="hook">
      <h4>Transparencia de la informacion</h4>
      <span>Gobiernos Abiertos</span>
    </div>
  </div>
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Ingrese el nombre del proyecto</mat-label>
      <input matInput type="text" [formControl]="searchControl">
      <mat-icon matSuffix class="mat-18">search</mat-icon>
    </mat-form-field>
  </div>
</header>
