<header class="header">
  <div class="name">
    <div class="logo">
      <img src="../../../../assets/logo1.png" alt="">
    </div>
    <div class="hook">
      <h4>Transparencia de la informacion</h4>
      <span>Gobiernos Abiertos</span>
    </div>
  </div>
  <app-search-input></app-search-input>
  <div class="notifications">
    <div class="icon notifications">
      <mat-icon class="mat-18">notifications</mat-icon>
    </div>
  </div>
  <div class="select-period">
    <label>Periodo:</label>
    <nz-select
    class="select"

    [formControl]="periodControl"
    (ngModelChange)="changePeriod($event)"
    >
      <nz-option *ngFor="let period of periods"
      [nzValue]="period"
      [nzLabel]="period.year"
      ></nz-option>
    </nz-select>
  </div>
  <div class="user">
    <div class="icon rol">
      {{rol}}
    </div>
    <div class="icon userImg">
      <img [src]="imageDefault" alt="">
    </div>
    <div class="icon config">
      <mat-icon nz-dropdown class="mat-18" [nzDropdownMenu]="userMenu" >settings</mat-icon>
      <nz-dropdown-menu #userMenu>
        <div *ngIf="user" class="userInfo">
          <span>{{user.name}}</span>
          <span>{{rol}}</span>
        </div>
        <ul nz-menu nzSelectable>
          <li nz-menu-item nzDanger (click)="logOut()">Salir <mat-icon class="logout">logout</mat-icon></li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</header>
