.info{
  width: 100%;
}
.infoTitle{
  display: flex;
  height: 10vh;
  text-align: center;
  width: 100%;
  background-color: var(--color2);
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.infoDetail{
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.infoSlide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.infoSlide img{
  height: 100%;
}
.description{
  align-self: self-start;
  padding-top: 1em;
  width: 45%;
}
