.sponsors{
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2.5em;
}
.sponsorDiv{
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.sponsorDiv img{
  height: 85%;
}
.sponsorDiv h5{
  justify-self: flex-end;
}
.loja{
  height: 75%;
}
