.trafficLigth{

}
.title{
  padding: 1.5em 4em;
  height: 8vh;
  display: flex;
  align-items: center;
}
.title h2{
  font-size: 2.5em;
  padding: 0 2em;
}
.controllers{
  display: flex;
  padding: 0 2em;
}
.selectYear{
  width: 30%;
}
.selectYear mat-form-field{
  width: 90%;
}
.selectYear mat-label{
  font-size: 1em;
  letter-spacing: .5px;
  font-weight: 500;
}
::ng-deep .mat-form-field-outline {
  border: 1px solid var(--color2);
  border-radius: 8px;
}
.legend{
  width: 70%;
  display: flex;
  gap: 1em;
  padding: 0.2em;
}
.semaphoreLegend{
  width: 75%;
  height: 7vh;
  display: flex;
  gap: 0.1em;
  justify-content: flex-end;
}
.semaphoreLegend div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;

}
.lightRed{
  width: 15%;
  background-color: var(--red);
  border-radius: 15px 0 0 15px;
  color: var(--white);

}
.lightYellow{
  width: 15%;
  background-color: var(--yellow);
  color: var(--black);
}
.lightGreen{
  width: 15%;
  background-color: var(--green);
  border-radius: 0px 15px 15px 0px;
  color: var(--white);

}
.greyLegend{
  width: 12%;
  background-color: var(--grey);
  border-radius: 15px 15px 15px 15px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 1px;

}

.chartContainer{
  display: flex;
  height: 80vh;
  margin: 2em;
  border-radius: 10px;
  border: 2px solid #000;
}
.chartInfo{
  width: 20%;
}
.chartSemaphore{
  width: 100%;
  overflow: hidden;
}
.chart{
  height: 100%;
  width: 112%;
  transform: translate(12%);
}
.chartInfo{
  padding: 2em;
}
.cardInfo{
  display: flex;
  background-color: #F6EF92;
  border-radius: 10px;
  padding: 0.8em;
  gap: 0.4em;
}
.cardInfo p{
  display: flex;
  text-align: justify;
  font-weight: 200;
  margin:0.8em 0 0 0;
}
