<div class="title">
  <h2 *ngIf="indicatorCatalog">{{ indicatorCatalog.name }}</h2>
</div>
<h3>Generalidades</h3>
<div *ngIf="generalidades.length > 0" class="generalidades">
  <div
    *ngFor="let generalidad of generalidades"
    class="card"
    [ngClass]="{
      bg1: generalidad.name === 'Mecanismos',
      bg2: generalidad.name === 'Diagnóstico',
      bg3: generalidad.name === 'Instancia responsable',
      bg4: generalidad.name === 'Normativa y Reglamentación'
    }"
  >
    <div class="card-title" [class]="generalidad.name.replace(' ', '')">
      <span>{{ generalidad.name }}</span>
    </div>
    <div class="card-info">
      <span>Evidencias registradas:</span>
      <span>{{ generalidad.evidences.length }}</span>
    </div>
    <div class="card-info">
      <span>Calificación Actual:</span>
      <span>{{ generalidad.qualification }}</span>
    </div>
    <div class="card-info">
      <span>Revisado:</span>
      <span>{{ generalidad.state }}</span>
    </div>
    <div class="card-actions">
      <a class="seeMore" [routerLink]="generalidad.id">Ver más</a>
    </div>
  </div>
</div>
<h3>Subindicadores Específicos</h3>
<div class="container-specific">
  <div class="specific" *ngFor="let specific of specifics">
    <ng-container *ngIf="specific.qualification === 1">
      <div class="subindicator">
        <nz-alert class="name" nzType="error" nzShowIcon [nzMessage]="specific.name"></nz-alert>
        <a class="seeMore" [routerLink]="specific.id">Ver más</a>
      </div>
    </ng-container>
    <ng-container *ngIf="specific.qualification === 2">
      <div class="subindicator">
        <nz-alert class="name" nzType="warning" nzShowIcon [nzMessage]="specific.name"></nz-alert>
        <a class="seeMore" [routerLink]="specific.id">Ver más</a>
      </div>
    </ng-container>
    <ng-container *ngIf="specific.qualification === 3">
      <div class="subindicator">
        <nz-alert class="name" nzType="success" nzShowIcon [nzMessage]="specific.name"></nz-alert>
        <a class="seeMore" [routerLink]="specific.id">Ver más</a>
      </div>
    </ng-container>
  </div>
</div>
