.container{
  display: flex;
  width: 100%;
  height: 72vh;
}
.summary{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3{
  width: 80%;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 600;
  font-size: 14pt;
}
form{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.name-form{
  display: flex;
  flex-direction: column ;
}
.portada{
  display: flex;
  width: 100%;
  justify-content: center;
}
.evidence-portada{
  width: 80%;
}
.characteristics{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3{
    height: 9vh;
    margin: 0;
    padding: 0;
  }
}
.container-characteristics{
  display: flex;
  width: 100%;
}
.tree-characteristics{
  width: 20%;
  border-right: 1px solid #000;
}
.group{
  span{
    font-size: 14pt;
    font-weight: 600;
  }
  li{
    list-style: none;
    a{
      padding-left: 1em;
      cursor: pointer;
    }a::before{
      content: '-';
    }
  }

}
.characteristics-form{
  width: 80%;
  h4{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
h4{
  font-weight: 300;
  font-size: 16pt;
}
.actions{
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 12vh;
  align-items: center;
}
.actions button{
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.save{
  background-color: var(--color2);
}
.cancel{
  background-color: var(--red);
}
