.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

}
.title h2{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8em;
}
.evidence{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-left: 2em;
}
.evidenceCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 70vh;
  //border: 1px solid #000;
  padding: 1em;
}
