<div class="info" *ngIf="evidenceID">
  <div class="line">
    Autor:{{evidenceID.name}}
  </div>
  <div class="line">
    Estado:{{evidenceID.verified?'Aprobado':'No Aprobado'}}
  </div>
  <div class="line">
    Calificación Actual:{{evidenceID.qualification===0?'No calificado':evidenceID.qualification}}
  </div>
</div>
<form class="form">
  <div class="form-input">
      <nz-input-group [nzAddOnAfter]="'/'+characteristic.score!.toString()">
        <input nz-input [formControl]="qualifyControl" placeholder="Calificacion" type="number">
      </nz-input-group>
      <textarea
      nz-input
      [formControl]="commitControl"
      [placeholder]="'Comentario'"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      >
      </textarea>
  </div>
</form>
<div class="actions">
  <button mat-raised-button (click)="qualify()">Calificar</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>

</div>
