
:host{

}
h3{
  padding: 1em 0 0 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  min-height: 85vh;
  padding-left: 1em;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .container {
    scrollbar-width: auto;
    scrollbar-color: var(--color1) #ffffff;
  }
  .container::-webkit-scrollbar {
    width: 12px;
  }
  .container::-webkit-scrollbar-track {
    background: #ffffff;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
