.trafficLigth{
  padding-bottom: 1em;
}
.controllers{
  display: flex;
  width: 100%;
}

.legend{
  display: flex;
  width: 50%;
  gap: 1em;
}

.semaphoreLegend{
  width: 75%;
  height: 5vh;
  display: flex;
  gap: 0.2em;
}
.semaphoreLegend div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  width: 30%;
}
.lightRed{
  background-color: var(--red);
  border-radius: 15px 0 0 15px;
  color: var(--white);
}
.lightYellow{
  background-color: var(--yellow);
  color: var(--black);
}
.lightGreen{
  background-color: var(--green);
  border-radius: 0px 15px 15px 0px;
  color: var(--white);

}
.greyLegend{
  width: 25%;
  background-color: var(--grey);
  border-radius: 15px 15px 15px 15px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 1px;

}

.chartContainer{
  display: flex;
  height: 100vh;
  margin: 2em 0;
  border-radius: 10px;
  border: 2px solid #000;
}

.chartSemaphore{
  width: 100%;
  overflow: hidden;
}
.chart{
  height: 100%;
  width: 100%;
}
.chartInfo{
  padding: 2em;
  .card{
    width: 14vw;
    background-color: #fff56b;
  }
}
