<section class="trafficLigth">
    <h2>Semaforización</h2>
  <div class="controllers">
    <div class="legend">
      <div class="semaphoreLegend">
        <div class="lightRed">Inaceptable</div>
        <div class="lightYellow"> Debajo de Aceptable</div>
        <div class="lightGreen">Aceptable</div>
      </div>
      <div class="greyLegend">No evaluado</div>
    </div>
  </div>
  <div #chartContainer class="chartContainer">
    <div class="chartInfo">
      <nz-card class="card"  nzSize="small" nzTitle='Información' [nzExtra]="infoExtra">
        <p>Para mayor información sobre un indicador haga clic sobre el mismo</p>
      </nz-card>
    </div>
    <ng-template #infoExtra>
      <mat-icon class="mat-18">info</mat-icon>
    </ng-template>
    <div class="chartSemaphore">
     <div #chartdiv class="chart" id="chartdiv"></div>
    </div>
  </div>
</section>
