:host {
  padding-left: 2em;
  width: 100%;
  display: block;
  height: 90vh;
  overflow-y: scroll;
}
h1 {
  padding-top: 0.5em;
}
.dowload_report {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  button {
    background-color: var(--color4);
    color: #fff;
    text-transform: capitalize;
  }
}
.section1 {
  display: flex;
  gap: 1em;
  padding-bottom: 2em;
  article {
    width: 32%;
    display: flex;
    flex-direction: column;
  }
}
h3 {
  font-weight: 600;
  font-size: 1.25em;
}
.extra_info {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

    .data_line {
      display: flex;
      gap: 1em;
      .label {
        width: 30%;
        font-weight: 700;
        font-size: 1em;
      }
    }
  }
  .source {
    height: 10%;
    display: flex;
    align-items: center;
    .sourceTitle {
      font-size: 1.25em;
      font-weight: 600;
    }
  }
}
.summary_quadrant {
  .content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .data-line {
      display: flex;
      flex-direction: column;
      padding-bottom: 1em;
      .quadrant {
        font-weight: 600;
        width: 100%;
      }
      .total {
        width: 100%;
      }
    }
  }
}
.qualify-bar {
  display: flex;
  width: 90%;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0.2em;
}
.qualify-segment {
  height: 1em;
  color: transparent;
}
.legend {
  width: 90%;
  display: flex;
  gap: 2.5em;
}
.label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.circle {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
}
.summary_subindicators {
  .progress {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 0.5em 0em;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .line {
      display: flex;
      .label {
        width: 70%;
      }
      .data {
        display: flex;
        gap: 0.2em;
      }
      .total {
        font-weight: 600;
      }
    }
  }
}
h2 {
  font-size: 2em;
  font-weight: 600;
}
.section2 {
  .grid-container {
    height: 100%;
    width: 100%;
    .grid {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      .title {
        height: 4em;
        width: 100%;
        border: 2px solid var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.5em;
      }
      .content {
        height: 45vh;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--border);
        padding-left: 1em;
        padding-bottom: 1.5em;
        .header {
          height: 10%;
          display: flex;
          .label {
            width: 80%;
            font-weight: 600;
            color: var(--color4);
          }
          .data {
            width: 20%;
            font-weight: 600;
            color: var(--color4);

          }
        }
        .description {
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .row {
            display: flex;
            width: 100%;
            .label {
              width: 80%;
            }
            .data {
              width: 20%;
              display: flex;
              align-items: center;
              gap: 0.2em;
              .legend{
                width: 100%;
              }
            }
          }
        }
      }
      .content2{
        flex-direction: row;
        gap: 1em;
        .c-rigth{
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.5em 0em;
          .line{
            display: flex;
            align-items: center;
            gap: 0.2em;
            .label{
              width: 80%;
              display: inline;
            }
            .data{
              font-weight: 500;
            }
            .total{
              font-weight: 600;
            }

          }
        }
        .c-left{
          min-width: 45%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.circle2 {
  width: 20px;
  height: 20px;
}
.q_0 {
  background-color: var(--grey);
}
.q_1 {
  background-color: var(--red);
}
.q_2 {
  background-color: var(--yellow);
}
.q_3 {
  background-color: var(--green);
}
.chart {
  width: 80%;
}
