<nz-steps nzType="navigation"  [nzCurrent]="step" (nzIndexChange)="changeStep($event)">
  <nz-step
  [nzTitle]="title1"
  nzDescription="Completar"
  >
  </nz-step>
  <ng-template #title1>
    <span class="title">Registrar Datos Subindicador</span>
  </ng-template>
  <nz-step
  [nzTitle]="title2"
  nzDescription="Completar"
  nzDisabled
  >
  </nz-step>
  <ng-template #title2>
    <span class="title">Registrar Evidencias</span>
  </ng-template>
  <nz-step
  [nzTitle]="title3"
  nzDescription="Revisar"
  nzDisabled
  >
  </nz-step>
  <ng-template #title3>
    <span class="title">Cuadro Resumen</span>
  </ng-template>
</nz-steps>


