<footer>
  <article class="logo">
    <img src="../../../../assets/marcaUTPL.png" alt="" />
    <div class="line"></div>
    <span>Copyright 2023 - Universidad Técnica Particular de Loja</span>
  </article>
  <article class="menu">
    <h4>Mapa del sitio</h4>
    <span>Cuadrantes</span>
    <ul>
      <li routerLink="quadrant/1">Cuadrante 1</li>
      <li routerLink="quadrant/2">Cuadrante 2</li>
      <li routerLink="quadrant/3">Cuadrante 3</li>
      <li routerLink="quadrant/4">Cuadrante 4</li>
    </ul>
    <a href="./login/signIn">Ingresar</a>
  </article>
  <article class="contact">
    <h4>Contactos</h4>
    <span
      ><mat-icon class="mat-18">mail</mat-icon
      >paxasaval1003@gmail.com</span
    >
    <span
      ><mat-icon class="mat-18">mail</mat-icon
      >pablopicon6@gmail.com</span
    >
    <span
      ><mat-icon class="mat-18">phone</mat-icon>+593 96 812 5982</span
    >
  </article>

  <h4></h4>
  <!--Developed by: paxasaval 2023-->
</footer>
