footer{
  height: 8vh;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
h4{
  color: var(--white);
  margin: 0;
  padding: 0;
}
