:host{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  width: 95%;
  padding-top: 1em;
}
.btn-update{
  background-color: var(--color4);
  color: var(--white);
  margin: 1em 2em;
}
