<div class="container">
  <menu>
    <mat-accordion class="menu">
<!--         <mat-expansion-panel
          class="menu-list"
          routerLink="home"
          routerLinkActive="active"
          [disabled]="true"
          [hideToggle]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <li>
                <mat-icon class="mat-18">space_dashboard</mat-icon>
                Inicio
              </li>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel> -->
      <mat-expansion-panel
        *ngFor="let quadrant of arrayQuadrant"
        class="menu-list"
        [routerLink]="['quadrant', quadrant[0].quadrant]"
        routerLinkActive="active"
        [hideToggle]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><li>
              <mat-icon>pie_chart</mat-icon>
              Cuadrante {{ quadrant[0].quadrant }}
            </li>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li class="submenu" *ngFor="let indicator of quadrant">
          -{{ indicator.name }}
        </li>
      </mat-expansion-panel>
      <mat-expansion-panel
      class="menu-list"
      [hideToggle]="true"
      routerLink="config"
      routerLinkActive="active"
      >
        <mat-expansion-panel-header >
          <mat-panel-title>
            <li>
              <mat-icon class="mat-18">person</mat-icon>
            Perfil

            </li>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel
      class="menu-list"
      *ngIf="auth"
      [hideToggle]="true"
      routerLink="workspace"
      routerLinkActive="active"
      >
        <mat-expansion-panel-header class="long"

        >
          <mat-panel-title *ngIf="gad">
            <li>
              <mat-icon  class="mat-18">workspaces</mat-icon>
            {{gad.name}}
            </li>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li class="submenu" [routerLink]="['workspace','users']" >Usuarios</li>
      </mat-expansion-panel>
      <mat-expansion-panel
        class="menu-list"
        routerLink="help"
        routerLinkActive="active"
        [disabled]="true"
        [hideToggle]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <li>
              <mat-icon class="mat-18">help</mat-icon>
              Ayuda
            </li>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </menu>
</div>
