:host{
  height: 100vh;
  display: block;
}
.container{
  height: 100%;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
}
.user{
  display: flex;
  gap: 1em;
  align-items: center;
  height: 20%;
  width: 100%;
}
.user-image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info{
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}
.user-name{
  font-weight: 700;
}
.user-rol{
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
  font-size: 0.8em;
}
.menu{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  overflow-y: scroll;
  height: 80%;
}
.menu::-webkit-scrollbar{
  display: none;
}
.menu li{
  list-style-type: none;
}
.menuItem{
  display: flex;
  width: 100%;
  justify-content: center;
}
.menu-list{
  width: 90%;
  color: var(--white);
  background-color: var(--color2);
  cursor: pointer;
}
.active {
  background-color: var(--white);
  color: var(--color2);
  mat-expansion-panel-header{
    background-color: var(--white);
  }
  mat-expansion-panel-body{
    background-color: var(--white);

  }
  li{
    color: var(--color2);
  }
  .submenu{
    background-color: var(--white);
  }
}
mat-expansion-panel-header li{
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}
.submenu{
  padding-left: 1em;
}
.submenu.expanded{
  background-color: var(--white);
}
