<div class="container">
  <div class="user">
    <div class="user-image">
      <img [src]="userDefault" alt="" />
    </div>
    <div class="user-info">
      <span class="user-name">{{ user.name }}</span>
      <span class="user-rol">{{ user.rol }}</span>
    </div>
  </div>
  <menu class="menu">
    <div class="menuItem">
      <mat-expansion-panel
        class="menu-list"
        routerLink="home"
        routerLinkActive="active"
        [disabled]="true"
        [hideToggle]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title><li>Inicio</li></mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
    <div *ngIf="arrayQuadrant.length>0 && arrayQuadrant[0].length>0" class="flag">
      <div *ngFor="let quadrant of arrayQuadrant" class="menuItem">
        <mat-expansion-panel
          class="menu-list"
          [routerLink]="['quadrant', quadrant[0].quadrant]"
          routerLinkActive="active"
          [hideToggle]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><li>Cuadrante {{ quadrant[0].quadrant }}</li></mat-panel-title
            >
          </mat-expansion-panel-header>
          <li class="submenu" *ngFor="let indicator of quadrant">
            -{{ indicator.name }}
          </li>
        </mat-expansion-panel>
      </div>
    </div>

  </menu>
</div>
