:host{
  height: 90vh;
  display: block;
  background-color: var(--color2);
  overflow-y: scroll;
}
:host::-webkit-scrollbar{
  display: none;
}
menu{
  padding: 0;
  margin: 0;
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.menu{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  width: 20em;
}

li{
  list-style-type: none;
}
.menu-list{
  width: 90%;
  color: var(--black);
  background-color: var(--color2);
  cursor: pointer;
}

.active {
  color: var(--color2);
  background-color: var(--color4);
  mat-expansion-panel-header{
    background-color: var(--color4);
  }
  mat-expansion-panel-body{
    background-color: var(--color4);
  }
  li{
    color: var(--color2);
  }
  .submenu{
    background-color: var(--color4);
  }
}
mat-expansion-panel-header li{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
.submenu{
  padding-left: 1em;
  padding-bottom: 0.75em;
  width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}:hover{
  font-weight: 700;
  overflow: visible;
  white-space: normal;
}
.submenu.expanded{
  background-color: var(--white);
}
.long{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.long:hover{
  font-size: 0.8em;
  color: var(--black);
}
