<div class="container">
  <div class="subtitle">
    <h4 id="titleDiv" #titleDiv>{{ title }}</h4>
    <span><mat-icon class="mat-18">arrow_drop_down</mat-icon></span>
  </div>
  <div class="evidences">
    <div class="evidence-line">
      <div class="name">
        <mat-icon>circle</mat-icon>
        <span> POA 2022</span>
      </div>
      <div class="actions">
        <mat-icon class="dowload-icon">cloud_download</mat-icon>
        <mat-icon class="help-icon">help</mat-icon>
      </div>
    </div>
  </div>
</div>
