.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitle {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  //gap: 3em;
  align-items: center;
  color: var(--orange);
  h4 {
    margin: 0;
    padding: 0 0 0 1em;
    font-weight: 700;
    line-height: 1em;
  }
  span {
    padding: 0 2em 0 0;
    font-weight: 700;
    font-size: 1.25em;
  }
}
.evidences {
  width: 100%;
  overflow-x: hidden;
}
.evidence-line {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 4vh;
  width: 100%;
  .name {
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--color1);
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .mat-icon {
      font-size: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .noName{
    color:#000;
    font-style: normal;
    span{
      text-decoration: none;
      cursor: default;
    }
  }
  .actions {
    padding: 0 5em 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    .mat-icon{
      font-size: 1.2em;
      align-self: center;
      display: flex;
      align-items: center;
      //margin-top: 0.7em;
    }
  }
}
.dowload-icon {
  color: var(--color1);
}
.help-icon {
  color: var(--color2);
}
