:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color4);
  height: 10vh;
  border-radius: 12px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}
.subtitle{
  font-weight: 600;
  font-size: 1.1em;
}
.circle{
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 1px solid #000;
}
.green{
  background-color: var(--green);
}
.red{
  background-color: var(--red);
}
.yellow{
  background-color: var(--yellow);
}
.gray{
  background-color: var(--grey);
}
