<div class="container">
  <div class="info created">
    <span>Creado:</span>
    <span>{{subindicator.created | date:'shortDate' }}</span>
  </div>
  <div class="info lastUpdated">
    <span>Ultima actualizacion:</span>
    <span>{{subindicator.lastUpdate | date:'shortDate' }}</span>
  </div>
  <div class="info qualification">
    <span>Autoevaluacion ISO</span>
    <span>{{subindicator.qualification}}</span>
  </div>
  <div class="info documents">
    <span>Evidencas presentadas:</span>
    <span>{{subindicator.evidences.length}}</span>
  </div>
  <div class="info state">
    <span>Estado:</span>
    <span>No publicado</span>
  </div>
</div>
