.summary{
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.summaryData{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.5em;
}
.card{
  width: 25%;
  height: 18hv;
  span{
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .icon{
    color: var(--color4);
  }
}
.data{
  display: flex;
  gap: 1.75em;
}
.autoLeft{
  align-self: start;
  margin-top: 0.5em;
}
.semaphore{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 60%;
  height: 100%;
}
.light{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  height: 50%;
}
.light p{
  margin: 0;
  font-weight: 500;
  font-size: 1.2em;
}
.circle{
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.red{
  background-color: var(--red);
}
.yellow{
  background-color: var(--yellow);
}
.green{
  background-color: var(--green);
}
.grey{
  background-color: var(--grey);
}

