<nz-table
  class="table"
  *ngIf="groupEvidence"
  #evidenceTable
  [nzData]="groupEvidence"
>
  <thead>
    <tr>
      <th rowSpan="2">Caracteristica</th>
      <th colSpan="3">Evidencia</th>
      <th colSpan="3">Revision</th>
      <th *ngIf="auth" colSpan="2" rowSpan="2">Acciones</th>
    </tr>
    <tr>
      <th>Nombre</th>
      <th>Enlace</th>
      <th>Observacion</th>
      <th>Aprobado</th>
      <th>Calificacion</th>
      <th>Comentario</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of evidenceTable.data">
      <tr>
        <td [rowSpan]="data.evidences.length + 1">
          {{ data.characteristic.name }}
        </td>
      </tr>
      <tr *ngFor="let evidence of data.evidences">
        <td [rowSpan]="1" nzBreakWord>{{ evidence.name }}</td>
        <td class="td-link" [rowSpan]="1" nzBreakWord>
          <a [href]="evidence.link" target="_blank">Acceder</a>
        </td>
        <td [rowSpan]="1" nzBreakWord>{{ evidence.note }}</td>
        <!--Qualification-->
        <td [rowSpan]="1">
          <label nz-checkbox [(ngModel)]="evidence.verified" disabled></label>
        </td>
        <td [rowSpan]="1">
          {{ evidence.qualification }}/{{ data.characteristic.score }}
        </td>
        <td [rowSpan]="1">
          <div
            *ngIf="evidence.commits.length > 0; else elseBlock"
            class="comits-container"
          >
            <div class="commit" *ngFor="let commit of arrayCommits(evidence)">
              <nz-comment
                *ngIf="commit.autor"
                [nzAuthor]="commit.autor.name"
                [nzDatetime]="dataDistance(commit.lastUpdate)"
              >
                <nz-comment-content>{{ commit.body }}</nz-comment-content>
              </nz-comment>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="no-commits">Sin comentarios</div>
          </ng-template>
        </td>
        <td [rowSpan]="1" *ngIf="auth">
          <a (click)="openReview(evidence, data.characteristic)">Revisar</a>
        </td>
        <td [rowSpan]="1" *ngIf="auth">
          <a (click)="deleteEvidence(evidence)" >Eliminar</a>
        </td>
      </tr>
    </ng-container>
    <tr></tr>
  </tbody>
</nz-table>
