:host{
  width: 100%;
  display: flex;
  justify-content: center;
}
.table{
  width: 95%;
}
.td-link{
  width: 6vw;
}
.br-left{
  border-right: 1px solid #fff;
}
.br-down{
  border-bottom: 1px solid ;
}
.text-center{
  text-align: center;
}
.comits-container{
  max-height: 15vh;
  overflow-y: scroll;
  scrollbar-width: 8px;
  scrollbar-color: var(--color4);
}::-webkit-scrollbar{
  width: 8px;
}
.comits-container::-webkit-scrollbar-track{
  background: #f8f8f8;
}
.comits-container::-webkit-scrollbar-thumb{
  background-color: var(--color4);
  border-radius: 10px;
  border: 1px solid #ffffff;
}
