:host{
  width: 100%;
  display: flex;
  justify-content: center;
}
.table{
  width: 95%;
}
.td-link{
  width: 6vw;
}
.br-left{
  border-right: 1px solid #fff;
}
.br-down{
  border-bottom: 1px solid ;
}
.text-center{
  text-align: center;
}
