.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  //gap: 3em;
  align-items: center;
  color: var(--orange);
  padding-bottom: 0.5em;
  h4 {
    margin: 0;
    padding: 0 0 0 1em;
    font-weight: 700;
    line-height: 1em;
  }
  span {
    padding: 0 2em 0 0;
    font-weight: 700;
    font-size: 1.25em;
  }
}
.evidences {
  width: 100%;
  overflow-x: hidden;
}
.evidence-line {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  height: 4vh;
  width: 100%;
  .name {
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--color4);
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      cursor: pointer;
    }
  }
  .name:hover{
    overflow: visible;
    white-space: normal;
  }
  .noName{
    color:#000;
    font-style: normal;
    span{
      text-decoration: none;
      cursor: default;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    a{
      .mat-icon{
        font-size: 1.2em;
        align-self: center;
        display: flex;
        align-items: center;
        //margin-top: 0.7em;
      }
    }

  }
}
.evidence-line:hover{
  height: auto;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.name:active{
  font-weight: 600;
  margin-bottom: 0.5em;
}
.dowload-icon {
  color: var(--color4);
}
.help-icon {
  color: var(--color2);
}
