/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  $kids-typography: mat.define-typography-config(
    $font-family: 'Montserrat',
  );

$my-theme: mat.define-light-theme((
   typography: $kids-typography,
 ));
 @include mat.all-component-themes($my-theme);
 @include mat.typography-hierarchy($kids-typography);


:root{
  --white: hsl(0, 0%, 100%);
  --black: #000000;
  --footer-bg:#333333;
  --color1:#FFC819;
  --color1-bg:rgba(255, 200, 25, 0.6);
  --color2:#F2F4F5;
  --color3:#040615;
  --color4:#1B65A7;
  --color4-bg:rgba(4, 6, 21, 0.4);
  --color5:#FFE181;
  --icon1:#A9A9A9;
  --green:#007934;
  --yellow:#FCEA00;
  --red:#E00613;
  --grey: #D9D9D9;
  --orange:#F98D0E;
  --card1:#FFB6C1 ;
  --card2:#87CEEB;
  --card3: #ccfdcc;
  --card4:#FFFACD;
  --border:#e3e3e3;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif; }
:host ::ng-deep .mat-typography h1{
  font-family: "Montserrat",sans-serif;
}
.btn-bg4{
  height: 6vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    color: var(--white);
}
.btn-confirm{
  height: 6vh;
  min-width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
}
.btn-cancel{
  height: 6vh;
  min-width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
}
tr:hover{
  color: #fff;
}
.f-center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
