.container{
  display: flex;
  width: 100%;
  height: 7vh;
  overflow-x: hidden;
  align-items: center;
  align-content: center;
}
.menu-indicators{
  display: flex;
  width: 100%;
  gap: 1em;
  height: 80%;
  margin: 0;
  padding: 0;
  padding-right: 1em;
}
.menu-option{
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.2em;
  border-radius: 6px;
  background-color: var(--color4);
  color:var(--white);
  font-weight: 600;
  cursor: pointer;
}
.active{
  background-color: var(--white);
  border-color: var(--color4);
  border-width: 2px;
  border-style: solid;
  color: var(--color4);
}
