.container{
  display: flex;
  min-width: 80vw;
  flex-direction: column;
  padding-left: 1em;
}

.btn-addEvidence{
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}
