.container{
  display: flex;
  min-width: 80vw;
  flex-direction: column;
  padding-left: 1em;
}
.info{
  padding-bottom: 2.5em;
}
.btn-addEvidence{
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}
