<main class="container">
  <section class="hook">
    <h1>{{'PROYECTO GOBIERNOS ABIERTOS'|uppercase}}</h1>
  </section>
  <section class="description">
    <p>placerat dolor dui vel in Ut urna. Donec tincidunt commodo nec vitae efficitur. luctus nec sollicitudin. convallis. odio dolor lacus cursus orci placerat urna ex maximus nisi faucibus fringilla in quam In placerat felis, lacus, ex. elit massa venenatis tincidunt ex Ut nec nec maximus Donec amet, cursus volutpat tincidunt dui at, nisi tincidunt sit est. viverra scelerisque nec faucibus Vestibulum faucibus massa dignissim, non Sed Vestibulum at, laoreet libero, vitae felis, quis maximus eget volutpat risus nisi sapien efficitur. eget hendrerit cursus ipsum eget vitae viverra cursus enim. non ex elit. placerat turpis dolor felis, sodales. amet, massa laoreet eu urna Nunc at, elit Nunc Morbi vitae dui. vitae Ut ultrices nibh elit felis, ipsum lacus, ullamcorper </p>
  </section>
  <app-info-section></app-info-section>
  <app-sponsors></app-sponsors>
</main>
