.pdf{
  height: 98%;
  width: 100%;
}
.no-content{
  height: 60%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
}
