:host{
  width: 85%;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.input{
  display: flex;
  width: 100%;
  flex-direction: column;
  color:var(--white);

  input{
    background-color: var(--white);
  }
}
::ng-deep .input .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 5px;
  background-color: white;
}
.actions{
  display: flex;
  justify-content: center;
  button{
    background-color: var(--green);
    color: var(--white);
    width: 100%;
  }
}
.extras{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  span{
    color: var(--white);
    text-decoration: underline;
    font-style: italic;
    font-size: 9pt;
    font-weight: 200;
    cursor: pointer;
  }
}
